<html>
{% extends '/base.html' %}
{% block content %}	
	
	<h2>{{ page }}</h2>
	
	<form method="POST" id=submit_form enctype=multipart/form-data action="{{ page }}/post">
		<textarea name="fasta_seq" id="fasta_seq" rows="25" cols="80">Fasta sequence</textarea>
		<input type=submit value="Submit">
		
		<h4>Upload File</h4>
		<p><input type=file name=file></p>
	</form>


  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
        <li class="{{ message }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  
  
  {% if finished %}
  <form method="POST" id=done_form action="{{ page }}/get">
	<input type=submit name=reset value=Reset id=reset>
	<input type=submit name=view value=View id=view>
	<input type=submit name=download value=Download id=download>
  </form>
  {% endif %}

{% endblock %}

  
</html>